<ul class="flowGrid" ng-flow-grid="demoGird" min-item-width="400">
    <li class="flowGridItem" ng-repeat="item in items">
        <!-- <a href=""><img ng-src="{{item.img}}"></a>
        <p>{{item.id}}__{{item.name}}</p> -->
        <div class="article">
            <div class="article-img">
                <a href="#">
                    <img ng-src="{{item.img}}" alt="图片"/>
                </a>
            </div>
            <div class="article-title">
                <a href="#"><img ng-src="{{item.img}}" alt="头像" class="img-circle"/></a>
                <h3>{{item.name}}</h3>
                <p>2016-12-12/admin/6评论/45浏览</p>
            </div>
        </div>
        
    </li>
</ul>