<section class="index-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5 createImgs-info">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">标题</div>
                        <input type="text" class="form-control" placeholder="请输入标题...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">出行日期</div>
                        <input type="text" class="form-control" placeholder="请选择日期...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">密码</div>
                        <input type="text" class="form-control" >
                    </div>
                    <p>其他人需要输入正确的密码才能访问你的专辑。</p>
                </div>
                <div class="form-group">
                    <ul class="list-inline pull-right">
                        <li>
                            <button class="btn btn-default">取消</button>
                        </li>
                        <li>
                            <button class="btn btn-primary">保存</button>
                        </li>
                    </ul>
                </div>
               
            </div>
            <div class="col-md-12 col-lg-7 fill">
                <div class="form-group">
                    <h4>图片</h4>
                    <p>支持批量上传，支持照片的格式为<span class="label label-default">jpg & png</span> 。每张照片请不要超过<span class="label label-default">50M</span> 。为了在全屏下获得最好的效果，照片的分辨率最好大于<span class="label label-default">1920 x 1280</span> 。上传后的照片默认会按照它们的EXIF日期来排序。</p>
                   <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>添加图片
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>