
<div class="login-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 col-lg-6 col-lg-offset-3">
                <form role="form" name="passSettingForm" ng-submit="passSubmitForm()" novalidate>
                    <div class="form-group" ng-class="{'has-success':passSettingForm.oldPassword.$valid}">
                        <label for="password" class="col-sm-2 control-label">原密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="oldPassword" required  ng-model="passdata.oldPassword">
                            <p class="glyphicon glyphicon-ok input_result success ng-hide" ng-show="passSettingForm.oldPassword.$valid"></p>
                            <p class="error ng-hide" ng-show="passSettingForm.oldPassword.$error.required  && passSettingForm.oldPassword.$touched">原密码不得为空</p>
                            
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':passSettingForm.password.$valid}">
                        <label for="password" class="col-sm-2 control-label">新密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" required ng-minlength="6" ng-maxlength="255" ng-model="passdata.password">
                            <p class="glyphicon glyphicon-ok input_result success ng-hide" ng-show="passSettingForm.password.$valid"></p>
                            <p class="error ng-hide" ng-show="(passSettingForm.password.$error.minlength || passSettingForm.password.$error.maxlength) && passSettingForm.password.$touched">新密码应在6~255位之间</p>
                            <p class="error ng-hide" ng-show="passSettingForm.password.$error.required  && passSettingForm.password.$touched">新密码不得为空</p>
                            
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':passSettingForm.repassword.$valid}">
                        <label for="repassword" class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="repassword" compare="passdata.password" required ng-model="passdata.repassword">
                            <p class="glyphicon glyphicon-ok input_result success ng-hide" ng-show="passSettingForm.repassword.$valid"></p>
                            <p class="error ng-hide" ng-show="passSettingForm.repassword.$error.compare  && passSettingForm.repassword.$touched">两次密码输入不一致</p>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-disabled="passSettingForm.$invalid">注册</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

