<section class="index-content">
    <div class="container youjiTitle">
        <div class="row">
            <div class="form-group">
                <div class="col-lg-12 ">
                    <input type="text" class="form-control input-lg"  name="youjiTitle" placeholder="请输入游记标题">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label for="comment">Markdown文本编辑:</label>
                    <textarea 	name="editor1" class="content-box"
                    ng-model="editor1"
                    markdown-editor="{'iconlibrary': 'fa', addExtraButtons: true, resize: 'vertical'}"
                    rows="10" >
                    </textarea>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 fill">
                <div class="form-group">
                    <label for="comment">文本视图:</label>
                    <div marked="editor1" class="markdown outline" style="padding: 20px">
                    </div>
                </div>
            </div>
        </div>
        <input type="button" value="保存" class="btn btn-primary">
    </div>
</section>